<h2>Update</h2>

<%= form_for [current_user, @listing], html: {multipart: true} do |form| %>
  <%= render partial: '/listings/form', object: form %>

  <div class="submit-field">
    <%= form.submit class: "btn btn-primary" %>
  </div>

<% end %>