<h2>New Listing</h2>
<%= form_for @listing, html: {multipart: true} do |form| %>

  <%= render partial: '/listings/form', object: form %>

  <div class="submit-field">
    <%= form.submit class: "btn btn-primary" %>
  </div>

<% end %>