<p> <%= @user.email %> </p>
<%= image_tag(@user.picture_url) if @user.picture? %>
<%= link_to "Listings", user_listings_path(@user) %> 
<% if  %>
  <%= link_to "Verify Listings", admin_verify_path %> 
<% end %>
